<!DOCTYPE html>
<html>

<head>
	<title>Error 500</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" 
    type="text/css">

  <link rel="stylesheet" href="static/skeleton/css/normalize.css">
  <link rel="stylesheet" href="static/skeleton/css/skeleton.css">

  <link rel="icon" type="image/png" href="static/img/favicon.png">

</head>
<body>
	<h2>Error 500 - Something went wrong</h2>
	<p> Please inform the administrator: {{admin_email}}</p>
</body>
</html>