<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{url_for('static', filename='skeleton/css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='skeleton/css/skeleton.css')}}">

  <link rel="icon" type="image/png" href="{{url_for('static', filename='img/favicon.png')}}">

</head>
<body>

<div class="container">

</div> <!--container-->

</body>

</html>