<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Terms of Service</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{url_for('static', filename='skeleton/css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='skeleton/css/skeleton.css')}}">

  <link rel="icon" type="image/png" href="{{url_for('static', filename='static/img/favicon.png')}}">
</head>
<body>

<div class="container">

<div class="row">
  <h2>Terms of Service</h2>
</div class="row">
  <p>Anything illegal under Chilean law will be deleted. </p>

  <p>Anything the administrator deems as inappropriate may be deleted without any further explanation,  This extends, non-exclusively to:</p>

  <ul>
    <li> Racism, homophobia, grossly offensive content.</li>
    <li> Child/teen "modeling".</li>
    <li> Gore, animal abuse.</li>
    <li> Hardcore pornography.</li>
  </ul>

  <p> Upon request to the administrator, any content may be deleted. Such requests must be addressed to admin@shijou.moe, and they must state the URL(s) of the offending file(s) and compelling reasons why the content(s) should be deleted.</p> 

</div>

</body>

</html>